@use "./functions" as *;

@mixin visually-hidden {
  position: absolute;
  width: to-rem(1px);
  height: to-rem(1px);
  padding: 0;
  margin: to-rem(-1px);
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin focus-visible($color: var(--color-accent), $offset: 4px) {
  &:focus-visible {
    outline: to-rem(4px) solid $color;
    outline-offset: to-rem($offset);
  }
}
